body {
  height: 100vh;
  font-family: 'Raleway', sans-serif;
}

#root {
  height: 100%;
}

.App {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  background-color: #0A2472;
  color: #F7F7FF;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('savantLogo.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 30%;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 35px;
}

.Underlined {
  text-decoration: underline;
  color: #EF476F;
}

.Loading {
  display: flex;
  align-items: center;
}

.Loading p {
  margin-right: 10px;
}

.Answer {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  color: #0A2472;
  background-color: #F7F7FF;
  max-width: 50%;
}